.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}
.voz-texto {
    text-align: center;
    margin: auto;
    padding: 10px;
}
.seletor-voz {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.voz-label.selecionado {
    background-color: #4b92db;
    width: 120px;
    color: white;
}

.voz-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.voz-label:hover {
    color: #000;
    
    transform: scale(1.1);
}

.voz-radio {
    display: none;
}

.voz-radio:checked + .voz-texto {
    color: #fff;
    font-weight: bold;
    transform: scale(1.2);
}

.animated-text {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

mark {
    background-color: #FF6926;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
}
.azull {
    background-color: var(--terciary-color);
    padding: 3px;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.img-card {
    width: 190px;
}

.tag-p {
    font-size: 1.5em;
    font-weight: 600;
}

.swiper-button-next {
    right: -50px;
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: #fff;
}

.custom-swiper {
    width: 80%;
    margin: 0 auto;
}

/*Pagina dos cards*/
.fra_efeito {
    margin-top: 160px;
    color: #fff;
    overflow: hidden;
    border-right: .1em solid #000;
    white-space: nowrap;
    width: 0;
    max-width: 42%;
    animation: typing 3s steps(30) 1s forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.conectarr {
    color: var(--primary-color);
}

.idiomaa {
    color: #4B92DB;
}

.img-fundo {
    background: url(../../../public/assets/images/imagem-cards.svg) no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    margin-bottom: 40px;
    padding: 100px 0 0 30px;
}

.img-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    gap: 20px;
    height: 330px;
    padding: 20px;
    background-color: var(--terciary-color);
    border-radius: 40px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.532);
}

.img-cards:hover {
    transform: scale(1.05);
}

.img-cards h3 {
    color: #fff;
}

.img-cards img {
    width: 190px;
}

.Sobre-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-card {
    margin: 20px 0 20px 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button button {
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 15px;
    
}
.button button * {
    pointer-events: none;
}

.button {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.button button.selecionado {
    background-color: var(--terciary-color);
    color: white;
    border: 2px solid #FF6926;
    transform: scale(1.05);
}

.parte-cards-cima {
    margin-bottom: 70px;
}

.swiper-container {
    width: 80%;
    margin: 0 auto;
}

@media (width <=500px) {
    .fra_efeito {
        margin-top: 160px;
        color: #fff;
        overflow: hidden;
        border-right: .1em solid #000;
        white-space: nowrap;
        width: 0;
        font-size: 0.5em;
        max-width: 100%;
        animation: typing 3s steps(30) 1s forwards, blink 1s step-end infinite;
    }


    .img-fundo {
        height: 400px;
        background-position: center center;
    }

    .img-fundo h1 {
        font-size: 1.4em;
    }

    mark {
        background-color: #FF6926;
        color: #fff;
        padding: 3px;
        border-radius: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border-radius: 8px;
    }

    .Sobre-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .titulo-card {
        font-size: 0.8em;
    }

    .icon {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .img-cards img {
        width: 100px;
    }
    .img-cards {
        width: 170px;
        height: 250px;
    }
    .img-cards h3 {
        font-size: 0.9em;
    }
    .parte-cards-cima {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .swiper-container {
        width: 100%;
    }

    .custom-swiper .swiper-button-next {
        transform: translateX(5px);
    }
    .custom-swiper {
        width: 95%;
        margin: 0 auto;
    }
    .custom-swiper .swiper-slide .card {
        width: 270px;
        height: auto;
    }
    .img-card {
        width: 100px;
    }
    .card h1 {
        font-size: 1em;
    }
    .card {
        padding-right: 100px;
        padding-left: 80px;
    }
}