.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.img-card {
    width: 190px;
}

.tag-p {
    font-size: 1.5em;
    font-weight: 600;
}

.swiper-button-next {
    right: -50px;
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: #fff;
}

/*Pagina dos cards*/

.fra_efeito {
    color: #fff;
}

.conectarr {
    color: var(--primary-color);
}

.idiomaa {
    color: #4B92DB;
}

.img-fundo {
    background: url(../../../public/assets/images/imagem-cards.svg) no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    margin-bottom: 40px;
    padding: 100px 0 0 30px;
}

.img-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    gap: 20px;
    height: 330px;
    padding: 20px;
    background-color: var(--terciary-color);
    border-radius: 40px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.532);
}

.img-cards:hover {
    transform: scale(1.05);
}

.img-cards h3 {
    color: #fff;
}

.img-cards img {
    width: 190px;
}

.Sobre-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-card {
    margin: 20px 0 20px 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button button {
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.button {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.button button.selecionado {
    background-color: var(--terciary-color);
    color: white;
    border: 2px solid #FF6926;
    transform: scale(1.05);
}

.parte-cards-cima {
    margin-bottom: 70px;
}

@media (width <=500px) {
    .img-fundo {
        height: 400px;
        background-position: center center;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border-radius: 8px;
    }
    .Sobre-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .icon {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .img-cards img {
        width: 130px;
    }
    .img-cards {
        width: 200px; 
        height: 300px;
    }
    .parte-cards-cima {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
    }
    .img-cards h3 {
        font-size: 1em;
    }
}