
.run{
  background: url(../../../public/assets/images/Passaporte.svg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 520px;
}
.regularizacao{
    width: 80%;
    height: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    margin-top: 30px;
    gap: 50px;
    margin: auto;
}

.bom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.ruim{
  text-align: center;
  margin: auto;
  font-size: 2rem;
  border-bottom: 1px solid;
  padding: 30px;
  width: 80%;

}
.bandeira{
  height: 500px;
}
.baixo-fomrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  text-align: center;
  padding: 100px;
  font-size: 2rem; /* Aumentando o tamanho da fonte no contêiner */
}
.baixo-fomrs h1 {
  font-size: 1em;
  margin-bottom: 50px;
}



ol {
  list-style-position: outside; /* Deixa os números alinhados fora da área de texto */
  padding-left: 40px; /* Adiciona espaçamento entre os números e o texto */
  font-size: 2rem; /* Aumentando o tamanho da fonte das listas */
  text-align: left; /* Garante que o texto fique alinhado à esquerda */
}

li {
  margin-bottom: 10px;
  text-align: left; 
}

@media (max-width: 500px) {
  .run {
    height: 300px;
    background-size: cover;
    background-position: center center;
  }

  .regularizacao {
    width: 90%;
    height: auto;
    flex-direction: column; /* Empilha os elementos verticalmente */
    gap: 20px; /* Reduz o espaçamento entre os elementos */
    font-size: 1rem;
    margin-top: 20px;
    padding: 15px;
  }
  .regularizacao > div > img {
    width: 100%;
  }

  .bom {
    gap: 10px;
  }

  .ruim {
    font-size: 1.3rem;
    padding: 0px;
    margin-top: 20px;
    width: 90%;
    padding-bottom: 10px;
  }

  .baixo-fomrs {
    padding: 20px;
    font-size: 1.5rem;
  }

  .baixo-fomrs h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  ol {
    padding-left: 20px; /* Ajusta o espaçamento */
    font-size: 1.2rem; /* Reduz o tamanho da fonte */
  }

  li {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  /* Formulário de contato */
  .container {
    width: 90%; /* Reduz a largura para caber na tela menor */
    height: auto;
    padding: 15px;
  }

  .form {
    gap: 15px;
  }

  .input {
    width: 100%; /* Ocupa toda a largura disponível */
    margin: 5px 0;
  }

  .textarea {
    width: 100%;
    height: 200px; /* Reduz a altura do textarea */
  }

  .buttonContainer {
    right: 10px;
    bottom: 10px;
  }

  .button {
    padding: 8px 16px;
  }

  /* Componentes com imagens */
  .tudo, .tudo3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imagens img {
    width: 80%; /* Ajusta o tamanho da imagem */
    height: auto;
  }
}

  