

.bolas_empresas{
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: var(--primary-color);
    flex-direction: row;
}

.dv_bola{
    margin-top: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unf_r{
    background-image: url(../../../public/assets/images/fundoempregabilidade.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.bolas_empresas h1{
    color: #ffffff;
    margin-left: 20px;
    font-size: 3em;
}

.texto_empresas{
    font-size: 1.7em;
    margin-top: 30px;
    margin-left: 40px;
    padding: 20px;
}

.texto_preencher{
    font-size: 1.3em;
    padding: 20px;
    margin-left: 40px;
}

.form-section{
    margin-bottom: 150px;
}

.texto_atua{
    font-size: 1.3em;
    padding: 20px;
    margin-left: 40px;
}

.juridicas{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.fund_y{
    background-image: url(../../../public/assets/images/fundoservicos.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 800px;
    margin-top: 200px;
}

.junt_s{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 130px;
}

.texto_servicos{
    font-size: 1.7em;
    color: var(--primary-color);
    margin-left: 60px;
    margin-top: 90px;
    margin-bottom: 25px;
}

.form-sectionn{
    width: 56%;
    margin: 40px auto;
    padding: 20px;
    padding-top: 20px;
    top: 20px;
    gap: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.538);

}

.titulo-formm{
    color: var(--primary-color);
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.paragrafo-formm{font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicos{
    font-size: 1.5em;
    margin-left: 67px;
}


