.bot {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 10;
}

.login__botaoVoltar {
    background-color: #ffffff;
    border: 0px;
    padding: 0;
    display: flex;
}

.login__voltarImagem {
    width: 80px; 
    height: auto; 
}



.login__section,
.login__container,
.login__left,
.login__right,
.login__inputGroup,
.login__inputIcon,
.login__btnAccess,
.login__createAccount,
.login__footer {
    all: unset;
}


.login__section {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}


.login__container {
    width: 800px;
    height: 500px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.login__left {
    flex: 1;
    background: url('../../../public/assets/images/Group 131.svg') center center / cover no-repeat;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login__left h1 {
    font-size: 2.5rem;
}

.login__left p {
    font-size: 1rem;
}

.login__right {
    flex: 1;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login__right h2 {
    margin-bottom: 20px;
}


.login__inputGroup {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.login__inputGroup input {
    width: 100%;
    padding: 10px 45px 10px 10px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    color: #fff !important;
    outline: none;
}

.login__inputGroup input:focus {
    color: #fff !important; 
}

.login__inputGroup input::placeholder {
    color: #fff !important;
}



.login__inputIcon {
    position: absolute;
    left: 330px;
    top: 32%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
}


.login__btnAccess {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--terciary-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.login__btnAccess:hover {
    background-color: var(--secondary-color);
}


.login__createAccount {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.login__createAccount a {
    color: #fff;
}

.login__createAccount span {
    color: var(--terciary-color);
    font-weight: bold;
    text-decoration: underline;
}

.login__createAccount span:hover{
    color: var(--secondary-color);
}


.login__footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__footer a {
    color: #fff;
    text-decoration: underline;
    margin: 0;
}

.login__footer a:hover{
    color: var(--secondary-color);
}
