/* SECTION 1 */
.psicoo {
    width: 100%; 
    background: url(../../../public/assets/images/fundopsi.svg) no-repeat;
    width: 100%;
    height: 580px;
    background-position: top bottom;
    background-size: cover;
}

.fundo_psicologos p{
    font-size: 2.3em;
    margin: 30px 0 0 0;
    font-weight: bold;
    color: #fff;
    width: 60%;
    padding: 150px 0 0 70px;
}

.passo{
    color: var(--primary-color);
}

.recomeço{
    color: #4B92DB;
}

/* SECTION 2 */

.we{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 40px;
}

/* SECTION 3 */

.bordaa{
    margin-bottom: 100px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.borda{
    width: 90%;
    height: 550px;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;

}

.borda:hover{
    cursor: pointer;
}

.especificacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.especificacao button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.especificacao button:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--secondary-color);
}


.foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 95%;
    height: 400px;
}

.cards_psicologos{
    margin-left: 10px;
    display: flex;
    gap: 130px;
}

.cards_psicologos h4{
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.estrela{
    background-color: #1A5276;
    width: 15%;
    height: 30px;
    border-radius: 5px;
    color: #FFFF;
    padding-left: 6px;
    padding-top: 3px;
    padding-right: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.resumo{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* SECTION 4 */

.Laranja{
    background-color: var(--primary-color);
    width: 95%;
    height: 550px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 20px;
}

.imagens{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textinho{
    text-align: center;
    color: #FFFF;
    margin-bottom: 30px;
    padding-top: 20px;
}

.especificacoes{
    position: absolute;
    top: 330px;
    color: #FFFF;
    background-color: #1A5276;
    border-radius: 10px;
    width: 20%;
    height: 70px;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.especificacoes:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* SECTION 5 */

.Formulario{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}
.juncao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.juncao img{
    width: 50%;
    height: 380px;
    margin-left: 35px;
}

.envolta{
    border: 1px solid;
    width: 80%;
    height: 380px;
    margin-right: 35px;
    border-radius: 0 80px 0 0;
}

.ladoaperto{
    padding: 60px;
}

.ladoaperto p{
    font-size: 1.2em;
    margin-top: 40px;
    margin-left: 15px;
    width: 70%;
}

.ladoaperto h1{
    font-weight: bold;
    font-size: 1.6em;
    margin-left: 15px;
}


.preparadolaranja{
    width: 50%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    background-color: var(--primary-color);
    position: relative;
    margin-left: 70px;
}

.preparadoazul{
    position: absolute;
    left: 225px;
    bottom: 4px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 5px;
    background-color: #1A5276;
    width: 45%;
    height: 30px;
    transition: transform 0.3s ease;
}

.preparadoazul:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* RESPONSIVO CELULAR */
@media (width <= 500px){
    .psicoo{
        background-size: cover;
        height: 300px;
    }

    .fundo_psicologos p{
        font-size: 1.5em;
        width: 90%;
        padding: 40px 0 0 10px;
    }

    .we h1{
        font-size: 1.3rem;
        width: 100%;
    }
    .borda{
        width: 80%;
        margin: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .div-princiii {
        width: 100%;
        margin: auto;
    }

    .bordaa{
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        gap: 30px;
    }

    .foto img{
        width: 100%;
        height: auto;
    }

    .cards_psicologos {
        gap: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }
    .especificacao button {
        margin-bottom: 20px;
    
    }

    .cards_psicologos h4{
        font-size: 14px;
        width: 50%;
        padding: 0;
    }

    .estrela{
        border-radius: 5px;
        width: 30%;
        margin: 0;
    }

    .especificacao p{
        font-size: 13px;
        padding: 20px 0px 0 14px;
    }

    .Laranja {
        width: 85%;
        height: 1400px;
        padding: 20px 0;
        margin-bottom: 50px;
        margin: 40px 0 80px 0;
    }

    .textinho h1 {
        font-size: 1.1em;
    }

    .textinho p{
        font-size: 0.8em;
    }

    .imagens {
        flex-direction: column;
        gap: 60px;
    }

    .especificacoes {
        width: 100%;
        margin-left: 40px;
    }
    .Formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .juncao {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .juncao img {
        width: 85%;
        border: black solid 1px;
        height: auto;
        margin-left: 0;
    }
    .envolta {
        width: 85%;
        height: 330px;
        margin: 0;
        border-radius: 0 0 100px 0;
        padding: 20px;
    }
    .preparadoazul {
        position: absolute;
        width: 70%;
        height: 40px;
        top: 60px;
        left: 50px;
        font-size: 0.8em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    .ladoaperto {
        padding: 20px;
    }

    .ladoaperto h1 {
        font-size: 1.4em;
        margin-left: 0;
        text-align: center;
    }

    .ladoaperto p {
        font-size: 1em;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .preparadolaranja {
        width: 90%;
        height: 50px;
        font-size: 1em;
        margin: 20px 0 0 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preparado{
        font-size: 14px;
        width: 190%;
        padding-left: 10px;
        margin-left: 50px;
    }
}