/* SECTION 1 */
.fundo_psicologos{
    background: url(../../../public/assets/images/psicologoscapa.png) no-repeat;
    width: 100%;
    height: 580px;
    background-position: top bottom;
    background-size: cover;
}

.fundo_psicologos p{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    padding: 150px 0 0 70px;
}

.passo{
    color: var(--primary-color);
}

.recomeço{
    color: #4B92DB;
}

/* SECTION 2 */

.we{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 40px;
}

/* SECTION 3 */

.bordaa{
    margin-bottom: 100px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.borda{
    width: 90%;
    height: 500px;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.borda:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 95%;
    height: 400px;
}

.cards_psicologos{
    margin-left: 20px;
    display: flex;
    gap: 190px;
}

.cards_psicologos h4{
    font-weight: bold;
    font-size: 15px;
}

.estrela{
    background-color: #1A5276;
    width: 15%;
    height: 30px;
    border-radius: 18px;
    color: #FFFF;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.resumo{
    margin-left: 20px;
    margin-bottom: 30px;
}

/* SECTION 4 */

.Laranja{
    background-color: var(--primary-color);
    width: 95%;
    height: 550px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 20px;
}

.imagens{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textinho{
    text-align: center;
    color: #FFFF;
    margin-bottom: 30px;
    padding-top: 20px;
}

.especificacoes{
    position: absolute;
    top: 330px;
    color: #FFFF;
    background-color: #1A5276;
    border-radius: 10px;
    width: 20%;
    height: 70px;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.especificacoes:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* SECTION 5 */

.Formulario{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}
.juncao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.juncao img{
    width: 50%;
    height: 400px;
    margin-left: 35px;
}

.envolta{
    border: 1px solid;
    width: 80%;
    height: 400px;
    margin-right: 35px;
    border-radius: 0 80px 0 0;
}

.ladoaperto{
    padding: 60px;
}

.ladoaperto p{
    font-size: 1.2em;
    margin-top: 40px;
    margin-left: 15px;
    width: 40%;
}

.ladoaperto h1{
    font-weight: bold;
    font-size: 1.6em;
    margin-left: 15px;
}


.preparadolaranja{
    width: 50%;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    background-color: var(--primary-color);
    position: relative;
    margin-left: 70px;
}

.preparadoazul{
    position: absolute;
    left: 350px;
    bottom: 3px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 10px;
    background-color: #1A5276;
    width: 30%;
    height: 30px;
    transition: transform 0.3s ease;
}

.preparadoazul:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* RESPONSIVO CELULAR */
@media (width <= 500px){
    .fundo_psicologos{
        height: 300px;
        background-position: center;
    }

    .fundo_psicologos p{
        font-size: 1.1em;
        padding: 110px 0 0 10px;
    }

    .we{
        font-size: 1.1em;
    }

    .borda{
        width: 85%;
        align-items: center;
    }

    .bordaa{
        gap: 20px;
        flex-direction: column;
        margin: 0 0 0 90px;
    }

    .foto img{
        width: 100%;
        height: auto;
    }

    .cards_psicologos h4{
        font-size: 14px;
        width: 200px;
        padding: 50px 0 0 0;
    }

    .estrela{
        margin: 40px 5px 0 0;
    }

    .especificacao p{
        font-size: 13px;
        padding: 20px 0 0 0;
    }

    .Laranja {
        width: 95%;
        height: 1350px;
        padding: 20px 0;
        margin-bottom: 50px;
        margin: 40px 0 80px 20px;
    }

    .textinho h1 {
        font-size: 1.1em;
    }

    .textinho p{
        font-size: 0.8em;
    }

    .imagens {
        flex-direction: column;
        gap: 60px;
    }

    .especificacoes {
        width: 60%;
        margin-left: 40px;
    }

    @media (max-width: 500px) {
        .Formulario {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
        
        .juncao {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .juncao img {
            width: 90%;
            border: black solid 1px;
            height: auto;
            margin-left: 0;
        }
    
        .envolta {
            width: 90%;
            height: 330px;
            margin: 0;
            border-radius: 0 0 100px 0;
            padding: 20px;
        }
    
        .ladoaperto {
            padding: 20px;
        }
    
        .ladoaperto h1 {
            font-size: 1.4em;
            margin-left: 0;
            text-align: center;
        }
    
        .ladoaperto p {
            font-size: 1em;
            margin-top: 20px;
            margin-left: 0;
            text-align: center;
            width: 100%;
        }
    
        .preparadolaranja {
            width: 90%;
            height: 50px;
            font-size: 1em;
            margin: 20px 0 0 10px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .preparado{
            font-size: 14px;
            width: 190%;
            padding-left: 10px;
            margin-left: 50px;
        }
    
        .preparadoazul {
            position: absolute;
            width: 70%;
            height: 40px;
            top: 60px;
            left: 50px;
            font-size: 13px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }
    }
}