.SobreNos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 70%;
    gap: 50px;
}
.dentro-laranja div a {
    width: 25px;
    margin-top: 0px;
}

.SobreNos > div p {
    font-size: 20px;
}

.SobreNos > div h1 {
    font-size: 2.2em;
    color: var(--primary-color);
}

.imgs {
    display: flex;
    flex-direction: column;
}

.imgdescricao {
    margin-bottom: 40px;
}
.imgdescricao img {
    width: 150px;
}

.Fundoslaranja {
    background-color: var(--primary-color);
    height: 370px;
    width: 530px;
    display: flex;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.sectchones{
    width: 100%;
}

.devs {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.ryan {
    width: 51%;
    display: flex;
    margin-bottom: 100px;
    margin-top: 20px;
}


.textoazul {
    color: #002266;
    margin-top: 15px;
    font-weight: bold;
}

.titulodev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.titulodev > h1 {
    margin-top: 150px;
    font-size: 2em;
    font-weight: bold;
}

.img-laranja {
    margin-right: 50px;
    width: 240px;
    margin-top: 120px;
}
.img-laranja img {
    width: 270px;
}

.dentro-laranja h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 20px;
}
.dentro-laranja p {
    font-size: 1.1em;
    margin-right: 20px;

}
.dentro-laranja > div > img {
    margin: 5px;
}

@media (width <= 500px) {
    .SobreNos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        width: 90%;
        gap: 30px;
    }
    
    .SobreNos > div h1 {
        font-size: 1.6em;
        color: var(--primary-color);
    }
    .SobreNos > div p {
        font-size: 16px;
        width: 100%;
    }
    .dentro-laranja p {
        font-size: 1em;
        margin-right: 20px;
    
    }
    .img-laranja img {
        width: 190px;
    }
    .dentro-laranja h1 {
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 20px;
    }
    .dentro-laranja p {
        font-size: 0.9em;
        margin-right: 20px;
    
    }
    .Fundoslaranja {
        background-color: var(--primary-color);
        height: 300px;
        width: 350px;
        display: flex;
        border-radius: 70px;
        color: white;
        align-items: center;
        margin: auto;
        overflow: hidden;
    }
    .devs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        margin: auto;
    }
    .ryan {
        width: 100%;
        display: flex;
        margin-bottom: 100px;
        margin-top: 0px;
    }
    .imgdescricao img {
        width: 80px;
    }
    .devs > div{
        margin-bottom: 10px;
    }
    .dentro-laranja > div > img {
        margin: 0px;
    }
    .img-laranja {
        margin-right: 0;
        width: 240px;
        margin-top: 120px;
    }
    .dentro-laranja > div > a {
        width: 30px;
        text-align: center;
    }
    .dentro-laranja > div {
        display: flex;
    }
    .titulodev h1 {
        font-size: 1.3em;
    }
}