.baixo-depoimentos {
    width: 100%;
}

.testimonials-section {
    background-color: #FF6926;
    padding: 40px 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.testimonials-section h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    color: white;
}

.testimonials-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.testimonial {
    background-color: var(--terciary-color);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    max-width: 500px;
    height: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.testimonial-content h3 {
    font-size: 18px;
    margin: 10px 0;
}

.stars {
    font-size: 20px;
    margin-bottom: 10px;
    color: #FFD700;
}

.testimonial p {
    font-size: 14px;
    color: white;
}

.prev-btn,
.next-btn {
    background-color: white;
    color: #FF6926;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #e64b16;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}

.teste {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teste div {
    background-color: var(--primary-color);
    padding: 50px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

.teste div h1 {
    font-size: 3em;
}

.baix2 {
    background: url(../../../public/assets/images/Img-fundo.svg) no-repeat;
    background-size: cover;
    height: 620px;
}

.baix2>h1 {
    background-color: #0000009f;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 2.4em;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    width: 700px;
}

.emprego .button-secondary {
    padding: 13px;
    cursor: pointer;
    border-top-left-radius: 100px;
    width: 40%;
    text-align: center;
    background-color: #4B92DB;
    border: none;
    color: #fff;
    transition: transform 0.2s ease;
    font-size: 1.3em;
}

.emprego .button-secondary:hover {
    transform: scale(1.03);
}

.emprego .button-primary {
    border: none;
    font-size: 1.3em;
    padding: 13px;
    width: 40%;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-bottom-right-radius: 100px;
    background-color: #1A5276;
    transition: transform 0.2s ease;
}

.emprego .button-primary:hover {
    transform: scale(1.03);
}

.emprego {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.preparadoo-ok {
    background-color: var(--primary-color);
    color: #fff;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    padding: 10px;
    margin: 200px auto;
}

.preparadoo-ok p {
    font-size: 1.3em;
    background-color: var(--terciary-color);
    padding: 6px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;

}

.preparadoo-ok p:hover {
    transform: scale(1.05);
}

@media (width <= 500px) {
    .testimonial:nth-child(2) {
        display: none;
    }
    .testimonials-section h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
        color: white;
    }

    .testimonial {
        max-width: 90%;
        height: auto;
        text-align: left;
    }
    .testimonial-img {
        width: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    }
    
    .testimonial-content h3 {
        font-size: 1em;
        margin: 10px 0;
    }
    .testimonial-content p {
        font-size: 0.8em;
    }
    .testimonials-section {
        background-color: #FF6926;
        padding: 40px 20px;
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }
    .baix2>h1 {
        background-color: #0000009f;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
        width: 320px;
    }
    .preparadoo-ok {
        background-color: var(--primary-color);
        color: #fff;
        width: 90%;
        height: 60px;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid black;
        margin: 230px auto;
    }
    .preparadoo-ok p{
        font-size: 1em;
        border: 1px solid black;
        
    }
    .preparadoo-ok h1 {
        font-size: 0.9em;
        padding: 6px;
        width: 100%;
    }
    .emprego .button-secondary,
    .emprego .button-primary {
        font-size: 1em; 
        width: 45%; 
    }
    
}